@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p id="dataContainer"></p>
<button onclick="callGetSensors()">Get the Data</button>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    function callGetSensors() {
        $.get('/Home/GetSensors', function (data, status) {
            $('#dataContainer').append(data + ".....status: " + status + '<br/>')
        }).fail(function () {
            $('#dataContainer').append(data + ".....status: " + status + '<br/>')

        });
    }
</script>
