@{
    ViewBag.Title = "Dashboard";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div ng-app="HomeDash">
    <div ng-controller="MainCtrl">
        @*The 'y' div uses the {{height}} variable for the width CSS property - this is because in our CSS we will rotate this counter clockwise by 90 degrees*@
        @*<div class="chart" style="width:{{width}}px; height:{{height}}px;">

            <div class="y" style="width:{{height}}px;">{{yAxis}}</div>
            <div class="x">{{xAxis}}</div>

            <div ng-repeat="bar in GraphData" class="bar" style="height:{{bar.value / max * height}}px; width:{{width / GraphData.length - 5}}px; left:{{$index / GraphData.length * width}}px;"></div>
            

        </div>*@
        <ul><span style="font-weight:bolder">Sensor Data</span>
        <hr />
            <li>Temprature: <span style="font-weight:bolder">{{sensorData.data.Temperature}}</span> </li>
            <li>Relative Humidity: <span style="font-weight:bolder">{{sensorData.data.Humidity}}</span></li>
            <li>Fire Detected: <span style="font-weight:bolder">{{sensorData.data.FireAlarm}}</span></li><span ng-show="sensorData.data.FireAlarm">Your house may be on fire... you should check that.</span>
            <li>Water Detected: <span style="font-weight:bolder">{{sensorData.data.WaterAlarm}}</span></li><span ng-show="sensorData.data.WaterAlarm">Your house may be under water... you should check that.</span>

        </ul>

        <button class="btn btn-success" onclick="ToggleLight()">Toggle Lamp</button>
        @*<button class="btn btn-success" ng-click="GetSensors()">GetData</button>*@
        <div ng-model="sensorData"
    </div>
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//code.angularjs.org/1.4.7/angular.min.js"></script>
<script>

    function ToggleLight() {
        $.get('/Home/ToggleLight', function (data, status) {
            console.log(data);
        }).fail(function () {
            $('#dataContainer').append(data + ".....status: " + status + '<br/>')

        });
    }

    var app = angular.module("HomeDash", []);

    app.controller('MainCtrl', function ($scope, $http, $log) {
        $http.get('/Home/GetSensors').then(function(response) {
            $scope.sensorData = response;
        });

        $scope.GetSensors = function () {
            $http({
                method: 'GET',
                url: '/Home/GetSensors'
            }).then(function successCallback(response) {
                console.log(response);
                $scope.sensorData = response.data;
            }, function errorCallback(response) {
                alert("API Error");
            });
        };

        //var arrLength = $scope.GraphData.length;
        //for (var i = 0; i < arrLength; i++) {
        //    // Find Maximum X Axis Value
        //    if ($scope.GraphData[i].value > $scope.max)
        //        $scope.max = $scope.GraphData[i].value;
        //}

       
    });
</script>
